@import "tailwindcss";

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--color-primary) #f1f1f1;
}

html,
body {
  overflow-x: hidden;
}

/* Theme Variables */
@theme {
  --color-primary: #00cafc;
  --color-text: #48b7d6;
  --color-secondary: #fcc300;
  --color-white: #ffffff;
  --color-black: #000000;
}
.containe {
  @apply px-2 sm:px-4 md:px-8 lg:px-16 mx-auto;
}
.swiper-pagination {
  bottom: -3px !important;
}
